<div class="center index">
    <h1>My Social Network</h1>
    <h2>Activity Stream</h2>

    <form class="form-inline">
        <fieldset>
            <legend>Update My Status</legend>

            <div class="form-group">

                <input type="text" name="status" class="form-control"/>
                <input type="submit" value="Add" class="btn btn-default">
            </div>
        </fieldset>
    </form>

    <ul class="status_list"></ul>

    <p><a href="#profile/me">See My Profile</a></p>

    <p><a href="#contacts/me">See My Contacts</a></p>
</div>